* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, rgb(62, 61, 112), black);
}

header {
    height: 80px; 
    display: flex; 
    justify-content: center; 
    align-items: center;
    color: #5b59b8;
}

main {
    display: flex; 
    justify-content: center;
}

#players-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.player-card {
    background-image: linear-gradient(#7306c9, #4900f8);
    width: 235px;
    margin: 5px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 8px 8px 20px black;
    margin-top: 40px;
}

#player-name {
    position: absolute;
    left: 40px;
    top: 90px;
    border-radius: 6px;
    height: 26px;
    text-align: center;
    background-color: #18172b;
    font-family: Teko;
    font-size: 18px;
    margin-top: 130px;
}

#commander-name {
    position: absolute;
    left: 40px;
    top: 130px;
    border-radius: 6px;
    height: 26px;
    text-align: center;
    background-color: #18172b;
    font-family: Teko;
    font-size: 18px;
    margin-top: 130px;
}

#partner-name {
    position: absolute;
    left: 40px;
    top: 170px;
    border-radius: 6px;
    height: 26px;
    text-align: center;
    background-color: #18172b;
    font-family: Teko;
    font-size: 18px;
    margin-top: 130px;
}

#companion-name {
    position: absolute;
    left: 40px;
    top: 210px;
    border-radius: 6px;
    height: 26px;
    text-align: center;
    background-color: #18172b;
    font-family: Teko;
    font-size: 18px;
    margin-top: 130px;
}

::placeholder {
    color: #8382b9;
    opacity: 0.9;
}

#form-box {
    position: absolute;
    left: 25px;
    top: 70px;
    width: 200px;
    height: 230px;
    border: #d4d4ff;
    border-style: groove;
    background-image: linear-gradient(to right, #5f5dc2, #333272);
    opacity: 0.9;
    border-radius: 10px;
    z-index: 0;
    animation: form-bobble;
    animation-delay: 4s;
    animation-duration: 1s;
    animation-iteration-count: 3;
    margin-top: 130px;
}

@keyframes form-bobble {
    0%   {top: 70px;left: 25px}
    25%  {top: 73px;left: 22px}
    50%  {top: 70px;left: 25px}
    75%  {top: 73px;left: 28px}
    100% {top: 70px;left: 25px}
}

#add-player-button {
    position: absolute;
    left: 84px;
    top: 250px;
    height: 30px;
    width: 80px;
    font-family: Teko;
    font-size: 16px;
    font-weight: 600;
    border: transparent;
    border-radius: 8px;
    background: -webkit-linear-gradient(#d4d4ff, #b7b6f5, #8d7fce, #2f2157);
    text-align: center;
    animation-name: add-Glow;
    animation-duration: 3s;
    animation-iteration-count: 9;
    box-shadow: 0 8px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 14px 0 rgba(0, 0, 0, 0.19);
    margin-top: 130px;
}

@keyframes add-Glow {
    0%   {filter: drop-shadow(0px 0px 4px #762dff);}
    25%  {filter: drop-shadow(0px 0px 8px #ca6dff);}
    50%  {filter: drop-shadow(0px 0px 4px #762dff);}
    75%  {filter: drop-shadow(0px 0px 8px #ca6dff);}
    100% {filter: drop-shadow(0px 0px 4px #762dff);}
}

input {
    color: white;
}

.player-name {
    font-family: Teko;
    background: -webkit-linear-gradient(rgb(229, 237, 247), rgb(39, 64, 97));
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 10px;
}

.lifeTotal {
    font-family: Chakra Petch;
    color: white;
    margin-bottom: 5px;
}

.commander-tax {
    font-family: Chakra Petch;
    color: white;
    margin-bottom: 5px;
}

.storm-count {
    font-family: Chakra Petch;
    color: white;
    margin-bottom: 9px;
}

.infect-damage {
    font-family: Chakra Petch;
    color: white;
    margin-bottom: 5px;
}

#minus-button {
    float: left;
    margin-right: 12px;
    width: 30px;
    border-radius: 90px;
    text-align: center;
    border: none;
    font-family: Chakra Petch;
}

#plus-button {
    float: right;
    margin-left: 8px;
    width: 30px;
    border-radius: 90px;
    text-align: center;
    border: none;
    font-family: Chakra Petch;
}

#players-container > div > button {
    margin-bottom: 12px;
    font-family: Chakra Petch;

}

.img-commander {
    height: 200px;
    width: auto;
    float: left;
    margin: 10px
}

.img-partner {
    height: 200px;
    width: auto;
    float: unset;
    margin: 10px    
}

.img-companion {
    height: 200px;
    width: auto;
    float: right;
    margin: 10px    
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 10px 10px 0px 700px;
    height: 60px;
    font-family: Teko;
    color: #5654b0;
    z-index: -1;
}

body > footer > p:nth-child(2) > a{
    color: #7306c9;
}

#purpD20 {
    position: absolute;
    height: 66px;
    filter: drop-shadow(0px 0px 3px #7ac7ff);
    left: 495px;
    top: 6px;
}
